<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mydwz.dao.putUrl">

    <insert id="putUrl">
        insert into url(short_url, long_url) values (#{shortUrl}, #{longUrl})
    </insert>

</mapper>
